<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @trip.end_date %>
</p>


<%= link_to 'Back', trips_path %>